extends ../layout

block content
  h1= title

  a(href="/users") 用户列表

  form(method="post",action="/users/new")
    p
      label(for="username") Username
      input#username(name="username")

    p
      label(for="bio") Bio
      input#bio(name="bio")


    p
      input(type="submit", value="create")